<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdoNetEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AdoNetEx.Properties.Settings>
            <setting name="DbConnectionString" serializeAs="String">
                <value>Data Source=(local)\SQLEXPRESS;Initial Catalog=HachidoriTech;Integrated Security=True;TrustServerCertificate=True</value>
            </setting>
        </AdoNetEx.Properties.Settings>
    </applicationSettings>
</configuration>